.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}

iframe
{
    border: 0px;
}

nav
{
    /*backdrop-filter: blur(12px);*/
    background: rgba(52, 81, 13, 0.5)
}
html, body{
    width: 100%;
}
body{
    background-image: url("obr4.jpg");
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}
.bg-nasa
{
    color: #28a745;
}

.white{
    color: white;
}
.card
{
    background: rgba(231, 231, 231, 0) ;
}
.card-header{
    background: rgba(231, 231, 231, 0.6) ;
    /*backdrop-filter: blur(30px);*/
}
.card-body{
    background: rgba(231, 231, 231, 0.3);
    /*backdrop-filter: blur(30px);*/
}
.float-right {
    float: right;
    margin-top: 5px;
    margin-right: 10%;
    width: 40%;
}

@media (min-width: 576px){
    .card-deck .card {

        flex: auto;
}
}
