.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
body {
    /*background-color: #E6FAE0;*/

    background-image: url("obr4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
nav
{
    backdrop-filter: blur(12px);
    background: rgba(52, 81, 13, 0.5)
}
.bg-nasa
{
    color: #28a745;
}

.white{
    color: white;
}

.container2 {
    margin-left: 10%;
}
.card
{
    background: rgba(231, 231, 231, 0) ;
}
.card-header{
    background: rgba(231, 231, 231, 0.6) ;
    backdrop-filter: blur(30px);
}
.card-body{
    background: rgba(231, 231, 231, 0.3);
    backdrop-filter: blur(30px);
}
.float-right {
    float: right;
    margin-top: 5px;
    margin-right: 10%;
    width: 40%;
}