
.font {
    font-family: arial,helvetica,sans-serif;
}

.card-img-size{
    height:188px;
    width: 250px;
}

.center_img {

}

.card_background {
    margin: 2vh;
    padding: 2vh;
    background-color: rgba(197, 198, 199, 0.2);
}
p{
    word-wrap: break-word;
}
.padr {
    padding-right: 10px !important;
    padding-bottom: 3px;
}
@media (min-width: 768px)
{
    .btn-block{
        margin-top: 25px;
    }
}

@media (max-width: 991px) {
    .center_img{
        text-align: center !important;
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 10px;
    }
}

@media (max-width: 575px) {
    h2{
        font-size: 2em;
        text-align: center !important;
    }
}

@media (max-width: 375px)
{
    .card-img-size{
        height: 135px;
        width: 180px;
    }
    .padr div {
        font-size: 50%;
    }
    h2{
        font-size: 2em;
    }
}
